*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(background2.jpg);
    background-size: cover;
}
header{
    padding: 20px;
}
header span {
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: underline;
}
.container{
    width: 50%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 2px dashed #fff;
    padding: 40px;
    background-color: rgba(22, 84, 112, 0.4);;
    text-align: center;
    gap: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
span{
    display: inline-block;
}
span::first-letter,
p::first-letter,
h1::first-letter,
h3::first-letter{
    color: #0f394d;
}
a{
    color: #fff;
    font-size: 20px;
}
a:hover,
a:visited{
    color: #0f394d;
}
.submit,
input[type = button]{
    display: block;
    border: 2px dashed #FFF;
    color: #FFF;
    background-color:rgba(22, 84, 112, 0.4);
    padding: 8px 16px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    cursor: pointer;
}
input[type = text],
textarea{
    border: 2px dashed #FFF;
    background-color: rgba(22, 84, 112, 0.4);
    padding: 6px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: #FFF;
    cursor: none;
}
input[type = text]:focus,
input[type = text]:hover,
textarea:focus,
textarea:hover,
.submit:hover,
input[type = button]:hover{
    outline: none;
    border-color: #333;
    /*color: #333;*/
}